.body{

}
.main-img {
    background-image: url("/imagenes/IMG_0651.jpg");
    background-size: cover;
    height: auto;
    max-width: 200px;
    width: 100%;
}
.production { 
    text-align: left;
}


.production img {
    width: 100%;
    border: 2px;
}
.production.right{
    text-align: end;
}
.production.left{
    text-align: left;
}
.marca {
    display: flex;
    text-align: left;
}
.options {
    text-align: justify;
    display: flex;
    text-align: left;
    width: 10%;
    height: 1%;
}
.production4 {
    text-align: end;
    width: 100%;
    height: 100%;
    display: flex;
}
.production3{
    background-image: ("/imagenes/IMG_9668.jpg") ;
    height: 10px;
}
.footer{
    text-align: center;    
}
.footer img{
    width: 3%;
    height: 3%;
}
.little{
    background-color: green;
}